* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

a:hover,
a:focus {
    color: #404bbf;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

.header-nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: left;
}


.logo-nav {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:#4d5ae5;
    text-transform: uppercase;

}

.span-accent {
    color: #2e2f42;
}

.address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.hero {
    color: #FFFFFF;
    background-color: #2E2F42;
    text-align: center;
}

.hero-banner {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-color: inherit;
}

.features {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.features-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: red;
}

.team {
    background-color: #F4F4FD;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;

}
.team-item {
    background-color: #FFFFFF;
}

.team-name {
    font-size:20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio {
    color:#2E2F42
}

.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

.portfolio-item {
    border: solid 1px #E7E9FC;
    text-align: left;
}

.portfolio-application {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
 
}

.portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}
 
.footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #2e2f42;
}

footer .logo {
color: #f4f4f4;
}

footer .logo:hover,
footer .logo:focus {
color: #404bbf;
}
